* {
	box-sizing: border-box;
}


body {
	font-size: 16px;
	font-family: 'Lobster', cursive;
	background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.5)),url('../images/rest.jpg');	
	background-attachment: fixed; 
	color: white;
	margin-top: 90px;
}

#header-nav {
	background-color: yellow;
	border: 0;
	border-radius: 0;
	margin-top: 10px;

}